<a href="https://colab.research.google.com/github/prateekin/OOP_Python_Assignments/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Comments

In [ ]:
a = 10 # assigns 10 to a
print(type(a))

<class 'int'>

Variables

In [ ]:
a = 100  
b = a  
c = 100
print(id(a)) 
print(id(b)) 
print(id(c))
print(a)
print(a)
# Reassigned variable a  
a = 800
der = 100
print(id(der))  
print(id(a))
print(a)

94259698976352
94259698976352
94259698976352
100
100
94259698976352
140065449504688
800

In [ ]:

# Declare a variable and initialize it  
x = 200  
  
# Global variable in function  
def mFunction():  
    # printing a global variable  
    global x  
    print(x)  
    # modifying a global variable  
    x = 'Welcome To OOP'  
    print(x)  
  
mFunction()  
print(x)  

# del x  
print(x)

200
Welcome To OOP
Welcome To OOP
Welcome To OOP



*   Global variables can be used throughout the program, and its scope is in the entire program. We can use global variables inside or outside the function.




*   A variable declared outside the function is the global variable by default.
*   Python provides the global keyword to use global variable inside the function.


*   If we don't use the global keyword, the function treats it as a local variable.

In [ ]:
s = 'Beautiful palace'
print(s[:], "\n")
print(s[::],"\n")
first_five_chars = s[:5]
print("First Five characters :", first_five_chars, "\n")
third_to_fifth_chars = s[2:5]
print("Third_to_fifth_chars:" ,third_to_fifth_chars, "\n")

Beautiful palace

Beautiful palace

First Five characters : Beaut

Third_to_fifth_chars: aut

In [ ]:
# three different variables a are defined in separate namespaces and accessed 

def outer_function():
    global a
    a = 20

    def inner_function():
        global a
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 30
a = 30

In [ ]:
def outer_function():
    a = 20

    def inner_function():
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 20
a = 10

In [ ]:
a = 5  
print("The type of a", type(a))  
  
b = 50.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))  
print(" c is a complex number", isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

In [ ]:
a=100  
Str1 ="We are learning Python"  
c = 20.5  
print(type(a))  
print(type(Str1))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
a = 5  
print("The type of a", type(a))  
  
b = 50.5  
print("The type of b", type(b))  
  
c = 1+3j  
print("The type of c", type(c))  
print(" c is a complex number", isinstance(1+3j,complex))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>
 c is a complex number True

In [ ]:
str = "This sentence has  double quotes"  
print(str)  
s1 = '''''This line has multiline 
string'''  
print(s1)

This sentence has  double quotes
''This line has multiline
string

In [ ]:
list1  = [1, "hi", "Python", 2]    
#Checking type of given list  
print(type(list1))  
  
#Printing the list1  
print (list1)  
  
# List slicing  
print (list1[3:])  
  
# List slicing  
print (list1[0:2])   
  
# List Concatenation using + operator  
print (list1 + list1)  
  
# List repetation using * operator  
print (list1 * 3)

<class 'list'>
[1, 'hi', 'Python', 2]
[2]
[1, 'hi']
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]
[1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2, 1, 'hi', 'Python', 2]

In [ ]:
tup  = ("hi", "Python", 2)    
# Checking type of tup  
print (type(tup))    
  
#Printing the tuple  
print (tup)  
  
# Tuple slicing  
print (tup[1:])    
print (tup[0:1])    
  
# Tuple concatenation using + operator  
print (tup + tup)    
  
# Tuple repatation using * operator  
print (tup * 3)     
  
# Adding value to tup. It will throw an error.  
tup[2] = "hi"

<class 'tuple'>
('hi', 'Python', 2)
('Python', 2)
('hi',)
('hi', 'Python', 2, 'hi', 'Python', 2)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)

TypeError: ignored

In [ ]:
dict = {1:'Karnataka', 2:'Kerala', 3:'UP', 4:'Punjab'}     
  
# Printing dictionary  
print (dict)  
  
# Accesing value using keys  
print("1st name is "+dict[1])   
print("2nd name is "+ dict[4])    
  
print (dict.keys())    
print (dict.values())

In [ ]:
# Python program to check the boolean type  

print(type(True))  
print(type(False))  
print(false)

In [ ]:
# Creating Empty set  
set1 = set()  
  
set2 = {'India', 20.4, 100,'OOP'}  
  
#Printing Set value  
print(set2)  
  
# Adding element to the set  
  
set2.add(10)  
print(set2)  
  
#Removing element from the set  
set2.remove(2)  
print(set2)

In [ ]:
m = 15
n = 4

# Output: m + n = 19
print('m + n =',m+n)

# Output: m - n = 11
print('m - n =',m-n)

# Output: m * n = 60
print('m * n =',m*n)

# Output: m / n = 3.75
print('m / n =',m/n)

# Output: m // n = 3
print('m // n =',m//n)

# Output: m ** n = 50625
print('m ** n =',m**n)

In [ ]:
a = 10
b = 12

# Output: a > b is False
print('a > b is',a>b)

# Output: a < b is True
print('a < b is',a<b)

# Output: a == b is False
print('a == b is',a==b)

# Output: a != b is True
print('a != b is',a!=b)

# Output: a >= b is False
print('a >= b is',a>=b)

# Output: a <= b is True
print('a <= b is',a<=b)

In [ ]:
m = True
n = False

print('m and n is',m and n)

print('x or y is',x or y)

print('not x is',not x)

m and n is False
x or y is Hello world
not x is False

In [ ]:
x=10
y= 4
# x & y = 0(0000 0000)
# x ^ y = 14 (0000 1110)
# x << 2 = 40 (0010 1000)
# x >> 2 = 2 (0000 0010)
print(x^y)

14

In [ ]:
a=2
a += 5
a %= 5
a **= 5
a //= 5
print(a)

6

In [ ]:
x1 = 10
y1 = 10
x2 = 'Welcome'
y2 = 'Welcome'
x3 = [10,20,30]
y3 = [10,20,30]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

False
True
False

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

True
True
True
False

In [ ]:
# If the number is positive, we print an appropriate message

# Python if... Statement - 1 option
num = 30
if num > 0:
    print(num, "is a positive number.")
print("printed number status.")

# Python if...else Statement  - 2 option
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

# Python if...elif...else Statement - 3 Option
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

30 is a positive number.
printed number status.
Positive or Zero
Positive number

In [ ]:
num = float(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 3
Positive number

In [ ]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [60, 25, 33, 85, 40, 22, 55, 43, 51]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 414

In [ ]:
# Program to iterate through a list using indexing

music = ['pop', 'rock', 'jazz','classic']

# iterate over the list using index

for i in range(len(music)):
    print("I like", music[i])

#combined with the len() function to iterate through a sequence using indexing.

I like pop
I like rock
I like jazz
I like classic

In [ ]:
# program to display student's marks from record
student_name = 'Soyuj'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')


# Use of break statement inside the loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")


# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

No entry with that name found.
s
t
r
The end
s
t
r
n
g
The end

In [ ]:
# To take input from the user,
# n = int(input("Enter n: "))

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)


# While loop with else

'''Example to illustrate
the use of else statement
with the while loop'''

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

The sum is 55
Inside loop
Inside loop
Inside loop
Inside else